.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}

.search-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5rem;
  margin-left: 17rem;
}

.search-button {
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5rem;
  margin-left: 1rem;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}









.swiper-container {
  width: 115%;
  height: -10rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: #0b0a0a;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
